* {
  font-family: arial;
  user-select: none;
}

#canvas {
  width: 900px;
  height: 600px;
  box-shadow: 0px 0px 5px #ccc;
  display: inline-block;
  float: left;
}

.meta-info {
  display: inline-block;
  float: left;
  width: 100px;
  height: 100px;
}
